@import "./reset.css";

body{
    background-color: #F8F9FF;
}
.container{
    width:1200px;
    margin: 0 auto;
}
.main{
    height: 815px;
    background-image: url(../img/mainBG.png);
    background-size: 3;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    overflow: hidden;
} 
.main::after
{
    content: url(../img/FirstArticlePhoto.png);
    position: absolute;
    right:0px;
    top: 150px;
    background-size: 335px 100%;
} 
.header
{
    padding: 50px 0 0 0 ;
}
.header_common_block
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_left_part
{
    display: flex;
    gap:90px;
    justify-content: space-between;
    align-items: center;
}
.logoCompany
{
    width: 184px;
    height: 40px;
}
.nav
{
    display: flex;
    gap:36px;
}
.navItem
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #8794BA;
    flex: none;
    order: 2;
    flex-grow: 0;
    cursor: pointer;
    transition: transform 0.8s;
}  
.navItem:hover{
    color:#EF2A82;
    transform: scale(1.2);
}  

.header_right_part
{
    width: 322px;
    display: flex;
    gap:40px;
}
.header_right_part_button
{
    background: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #8794BA;
    flex: none;
    order: 0;
    flex-grow: 0;
    border: none; 
    transition: transform 0.8s;
    cursor: pointer;
}  
.header_right_part_button:hover{
    color:#EF2A82;
    transform: scale(1.2);
}
.header_right_part_button.special
{
    border: 1px solid #465B95;
    border-radius: 68px;
    padding: 10px 53px;
    transition: transform 0.8s;
}
.header_right_part_button.special:hover
{
    background:#EF2A82;
    color:white;
    transform: scale(1.2);
}      
.menu_block_ul
{
    display: none;
    flex-direction: column;
    padding:  0 10px;
    background-color: #EF2A82;
    text-align: center;
    align-items: center;  
    color: white;
    cursor: pointer;
    position: absolute;
    right: -5px;
    top:100px;
    z-index: 5;;

}
.menu_block_li
{
    width: 100%;
    padding: 10px;
    text-decoration: none;
    list-style: none;
}
.menu_block_li:hover 
{
    background: #B80052;
}
.ClickMenuOpen
{
    display: none;
}
/*first_article*/

.first_article
{
    padding: 74px 0 0 0;


}
.first_article_common_block
{
 padding-top: 78px;
 display: flex;
 flex-direction: column;   
 position: relative;
}  

.first_article_h1
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 120%;
    color: #FFFFFF;
    width: 550px;
    padding-bottom: 15px;
}
.first_article_p
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #8794BA;
    width: 550px;
    padding-bottom: 50px;
} 
.first_article_btn
{
    padding: 10px 80px; 
    width: 238px;
    height: 50px;   
    background: #EF2A82;
    border-radius: 68px;
    flex: none;
    order: 1;
    flex-grow: 0;           
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: transform 1s;
}
.first_article_btn:hover{
    transform: scale(1.2);
}

/*First_Section*/
.first_section
{
    padding: 38px 0 0 0;
}
.first_section_common_block
{
    display: flex;
    flex-direction: column;
}  
 
.first_section_h1
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #172755;
}
.first_section_p
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;  
    text-align: center;
    color: #8794BA;
    width: 1060px;
    padding-top: 30px;
    padding-bottom: 81px;
}
.first_section_block_cards
{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 130px;

}  
.spanDollar
{
    font-size: 20px;
}   
.first_setion_cardItem
{
    display: flex;
    flex-direction: column;
    gap:26px;
    align-items: center;
}
.first_setion_card_photo
{
    width: 60px;
    height: 60px;
}
.first_section_card_blockText
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:15px;
}    


.first_setion_block_card_h2
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px; 
    text-align: center;
    color: #172755;
}  
.first_setion_block_card_p
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    color: #8794BA;
    width: 380px;
}
/*DescriptionBlock*/
.first_section_block_description
{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap:120px;
    padding-bottom: 114px;
}  
.first_section_block_description_item
{
    display: flex;
    justify-content: space-between;
    gap:100px;
}  
.first_section_block_description_item.special
{
    flex-direction: row-reverse;
} 
.first_section_block_description_item_block_text
{
    padding-top: 89px;
    display: flex;
    flex-direction: column;
    gap:30px;
}      
  
.first_section_block_description_item_h2
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;  
    color: #172755;
    width: 385px;
}  
.first_section_block_description_item_p
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    color: #8794BA;
    width: 480px;
}  

/*SECOND_SECTION*/
.second_section
{
    height: 1070px;
    background-image: url(../img/SecondSectionBg.png); 
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    overflow: hidden;
    padding-bottom: 100px;
}
.second_section_common_block
{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.second_section_h1
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 265px;
}
.second_section_p
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;
    width: 650px;
    text-align: center;
    color: #8794BA;
    padding-top: 30px;
    padding-bottom: 80px;
}   
.second_section_block_cards
{
    display: flex;
    overflow-x: auto;
    gap:80px;
    width: 100%;
    justify-content: center;

}    
.second_section_cardItem
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 340px;
    height: 440px;    
    background: #0F1F4B;
    border-radius: 30px;
    align-items: center;
    cursor: pointer;
    transition-property: background-color,color;
    transition-duration: 0.7s, 0.6s;
}   

.second_section_cardItem:hover 
{
    background-color: white;
}
.second_section_cardItem:hover .second_section_cardItem_h3{
    color:#172755;
} 
.second_section_cardItem:hover .second_section_cardItem_h2{
    color:#172755;
}   
.second_section_cardItem:hover .second_section_CardItem_btn{
    color:#172755;
}   
.second_section_cardItem_h3
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
    padding-top: 50px;
    padding-bottom: 10px;
}  
.second_section_CardItem_btn:hover {
    background-color:  #EF2A82;
    color:#ffffff;
    transform:  scale(1.2);
}
.second_section_cardItem_h4
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 150%;  
    text-align: center;
    color: #8794BA;
    padding-bottom: 37px;
}  
.second_section_catdItem_hr
{
    background: #2A407C;
    text-align: center;
    width: 220px;
    height: 1px;
    margin-bottom: 28px;
    border: none;
}    
.second_section_cardItem_h2
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    color: #FFFFFF;
}
.second_section_cardItemh4
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%; 
    text-align: center;
    color: #8794BA;
    padding-bottom: 40px;
}   
.second_section_CardItem_btn
{
    width: 200px;
    height: 50px;
    background: none;
    border: 1px solid #2A407C;
    border-radius: 68px;
    padding: 10px 80px;   
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-align: center; 
    cursor: pointer;
    transition-property: transform,background-color;
    transition-duration: 0.7s, 0.6s;
}

.second_section_bg_cards
{
    display: flex;
    gap:20px;
    white-space: nowrap;
}
/*Third Section*/

.third_section
{
    padding: 109px 0 156px;
}
.third_section_common_block
{
    display: flex;
    gap:72px;
    justify-content: center;
}   
.third_section_left_part
{
    display: flex;
    flex-direction: column;
}  
.third_section_h1
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    color: #160637;
    width: 431px;
    padding-bottom: 75px;
    padding-top: 20px;   
} 
.third_section_h2
{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #8989A2;
    text-align: center;
    padding-bottom: 50px;
    position: relative;
}
.third_section_h2::before
{
    content: "";
    width: 144px;
    height: 1px;
    border: none;
    position: absolute;
    background: #D6D6D6;
    left: 10px;
    top:10px;
}   

.third_section_h2::after
{
    content: "";
    width: 144px;
    height: 1px;
    border: none;
    position: absolute;
    background: #D6D6D6;
    right: 10px;
    top:10px;
}
.companies__icons {
    width: 305px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 70px;
    column-gap: 105px;
  }
  
  .companies__icons-accenture,
  .companies__icons-react,
  .companies__icons-airbnb,
  .companies__icons-sky {
    fill: #8989a2;
  
    transition: fill 0.3s ease-in;
  }
  
  .companies__icons-accenture:hover {
    fill: #000;
  }
  
  .companies__icons-react:hover {
    fill: rgb(152, 152, 253);
  }
  
  .companies__icons-airbnb:hover {
    fill: rgb(254, 69, 69);
  }
  
  .companies__icons-sky:hover {
    fill: blue;
  }
.companies__column {
    width: 480px;
    height: 480px;
    position: relative;
  }
  
  .companies__column--mini-size {
    width: 431px;
    flex-shrink: 0;
  }
  
  .companies__title {
    margin-bottom: 75px;
    font-weight: 700;
    font-size: 32px;
    line-height: 1.25;
    color: #160637;
  }
  
  .companies__descr {
    margin-bottom: 51px;
    position: relative;
    text-align: center;
  }
  
  .companies__descr::before,
  .companies__descr::after {
    position: absolute;
    content: "";
    width: 144px;
    height: 2px;
    background: #d6d6d6;
    top: 50%;
    transform: translateX(-50%);
  }
  
  .companies__descr::before {
    left: 24px;
  }
  
  .companies__descr::after {
    right: -112px;
  }
  
  .companies__icons {
    width: 305px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    row-gap: 70px;
    column-gap: 105px;
  }
  
  .companies__icons-accenture,
  .companies__icons-react,
  .companies__icons-airbnb,
  .companies__icons-sky {
    fill: #8989a2;
  
    transition: fill 0.3s ease-in;
  }
  
  .companies__icons-accenture:hover {
    fill: #000;
  }
  
  .companies__icons-react:hover {
    fill: rgb(152, 152, 253);
  }
  
  .companies__icons-airbnb:hover {
    fill: rgb(254, 69, 69);
  }
  
  .companies__icons-sky:hover {
    fill: blue;
  }
  
  .companies__column + .companies__column {
    background: #f9f0ff;
    border-radius: 4px;
  }
  
  .companies__column-inner {
    padding: 32px 40.5px;
    width: 428px;
    background-color: #fff;
    box-shadow: 4px 4px 12px rgba(137, 137, 162, 0.122);
    border-radius: 8px;
  }
  
  .companies__column-title {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.333;
    color: #160637;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
  }
  
  .form__authorization {
    margin-bottom: 16px;
  }
  
  .form__authorization > * + * {
    margin-top: 16px;
  }
  
  .form__auth-btn {
    padding-left: 120px;
    padding-right: 104px;
    line-height: 48px;
    height: 48px;
    border-radius: 4px;
    background: #722ed1;
    font-weight: 500;
    font-size: 16px;
    color: #ffffff;
    font-family: 'Roboto';
    transition: background 0.3s ease-in;
  }
  
  .form__auth-btn:hover {
    background: #ef2a82;
  }
  
  .form__auth {
    padding: 16px;
    width: 100%;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    color: #2a407c;
    font-family: 'Roboto';
  }
  
  .form__auth::placeholder {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.187;
    color: #8989a2;
  }
  
  .companies__stars {
    text-align: center;
    font-weight: 500;
  }
  
  .companies__stars-title {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.187;
    color: #000000;
    font-family: 'Roboto';
  }
  
  .rating-area {
    width: 265px;
    margin-bottom: 16px;
    display: flex;
    flex-direction: row-reverse;
  }
  .rating-area:not(:checked) > input {
    display: none;
  }
  .rating-area:not(:checked) > label {
    margin-right: 15px;
    width: 15px;
    padding: 0;
    cursor: pointer;
    font-size: 20px;
    line-height: 32px;
    color: lightgrey;
  }
  .rating-area:not(:checked) > label:before {
    content: "★";
  }
  .rating-area > input:checked ~ label {
    color: gold;
  }
  .rating-area:not(:checked) > label:hover,
  .rating-area:not(:checked) > label:hover ~ label {
    color: gold;
  }
  .rating-area > input:checked + label:hover,
  .rating-area > input:checked + label:hover ~ label,
  .rating-area > input:checked ~ label:hover,
  .rating-area > input:checked ~ label:hover ~ label,
  .rating-area > label:hover ~ input:checked ~ label {
    color: gold;
  }
  .rate-area > label:active {
    position: relative;
  }
  
  .companies__stars-text {
    padding-top: 16px;
    font-size: 14px;
    line-height: 1.142;
    border-top: 1px solid rgba(137, 137, 162, 0.48);
    font-family: 'Roboto' ;
  }
  
  .companies__stars-text a {
    color: #722ed1;
  }

  /*Footer*/ 
  .footer{
    background: #1F2F5C;
    padding: 54px 0 ;
  }  
  .footer_common_block
  {
    display: flex;
    gap:300px;

  }
  .footer_nav
  {
    display: flex;
    gap:36px;
    align-items: center;
    text-align: center;

  }
  .footerNavItem
  {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #8794BA;
    transition: color 0.8s;
  }
  .footerNavItem:hover{
    color:white;
  }

  .footer_icons
  {
    display: flex;
    justify-content: space-between;
    gap:40px;

  }
  .footer_icons svg 
  {
    fill:gray;
    transition: transform 0.8s;
  }

  .footer_icons svg:hover 
  {
    fill:white;
    transform: scale(1.2);
  }
@media(max-width:1400px)
{
    .main::after
    {
        content: none; 
    } 
    .third_section_common_block
    {
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .test_Block
    {
        display: flex;
        gap:20px;
    }
    .item
    {
        width: 200px;
        height: 200px;
        background-color: red;
    }
    .companies__icons
    {
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .companies__column
    {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .third_section_left_part
    {
        align-items: center;
    }
    .first_section_block_description_item
    {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .first_section_block_description
    {
        gap:60px;
    }
    .third_section
    {
        padding-top: 100px;
    }
    .first_section_common_block
    {
        align-items: center;
        text-align: center;
        justify-content: center;
    }
    .first_setion_block_card_h2
    {
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;

    }
    .first_section_p
    {
        width: 600px;
    }
    .first_section_block_cards
    {
        gap:40px;
        padding-bottom: 60px;
        flex-direction: column;
    }
    .footer_common_block{
        justify-content: center;
        gap:150px;
    }
    .first_section_block_description_item_block_text
    {
        align-items: center;
    }
}
@media(max-width:1100px)
{
    .nav
    {
        display: none;
    }
    .ClickMenuOpen
    {
        display: block;
        position: absolute;
        right: 20px;
        z-index: 100;
    }
    .first_section_block_description_item_block_text
    {
        align-items: center;
    }   
    .second_section_block_cards
    {
        width: 600px;
        justify-content: left;
    }
    .second_section_cardItem
    {
        width: 300px;
    }
    .footer_common_block
    {
        gap:50px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    
}
@media(max-width:650px)
{
    .header{
        padding-bottom: 20px;
        box-shadow: 0px 4px 4px #12214D;
    }
    .first_section{
        align-items: center;
        text-align: center;
        justify-content: center;
        display: flex;
    }
    .main{
        background-image: url(../img/mainBGMobile.png);
        text-align: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        height: 750px;
        
    }
    
    .third_section{
        padding-top: 0px;
        display: flex;
        justify-content: center;
        padding-bottom: 50px;
    }
    
    .container{
        width: 335px;
        margin: 0 20px;
    }
    .header
    {
        padding: 20px 0 0 0 ;
    }   
    .menu_block_ul
    {
        top:30px;
    }
    .logoCompany
    {
        width: 138px;
        height: 30px;
    }
    .header_common_block
    {
        display: flex;
        justify-content: space-between;
        position: relative;
    }
    .ClickMenuOpen
    {
        display: block;
        position: absolute;
        text-justify: 0px;
        z-index: 100;
    }
    .nav
    {
        display: none;
    }
    .header_right_part_button.special
    {
        display: none;
    }
    .header_right_part
    {
        gap:10px;
    }
    .navItem
    {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #8794BA;
        flex: none;
        order: 2;
        flex-grow: 0;
        cursor: pointer;
        transition: transform 0.8s;
    }  
    .navItem:hover{
        color:#EF2A82;
        transform: scale(1.2);
    }  
    
    .header_right_part
    {
        width: 322px;
        display: flex;
        gap:40px;
    }
    .header_right_part_button
    {
        background: none;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #8794BA;
        flex: none;
        order: 0;
        flex-grow: 0;
        border: none; 
        transition: transform 0.8s;
        cursor: pointer;
        position: absolute;
        right: 62px;
        top: 10px;
    }  
    .header_right_part_button:hover{
        color:#EF2A82;
        transform: scale(1.2);
    }
    .header_right_part_button.special
    {
        border: 1px solid #465B95;
        border-radius: 68px;
        padding: 10px 53px;
        transition: transform 0.8s;
    }
    .header_right_part_button.special:hover
    {
        background:#EF2A82;
        color:black;
        transform: scale(1.2);
    } 
    .ClickMenuOpen
    {
        display: flex;
    }
    /*First_Article*/      

    .first_article
    {
        padding: 29px 0 0 0;
    }  
    .main::after
    {
        content: url(../img/FirstArticlePhotoMobile.png);
        position: absolute;
        top: 60px;
        left: 0px;
    }
    .first_article_common_block
    {
        padding-top: 286px;
        align-items: center;
        text-align: center;
    }  

    .first_article_h1
    {    
        font-size: 31px;
        width: 335px;
        padding-bottom: 15px;
    }
    .first_article_p
    {
        width: 335px;
        padding-bottom: 26px;
        text-align: justify;
    } 
    .first_article_btn
    {
        width: 335px;
    }      


        /*First_Section*/
    .first_section
    {
        padding: 50px 0 0 0;
    }
    .first_section_common_block
    {
        align-items: flex-start;
    }
    .first_section_h1
    {
        font-size: 30px;
        line-height: 35px;
        text-align: left;
    }
    .first_section_p
    {
        font-size: 14px;
        line-height: 140%;
        text-align: left;
        width: 335px;
        padding-top: 20px;
        padding-bottom: 42px;
    }
    .first_section_block_cards
    {
        flex-direction: column;
        padding-bottom: 71px;
        gap:35px;
        align-items: center;
    }  
    .first_setion_cardItem
    {
        flex-direction: row;
        gap:28px;
    }
    .first_section_card_blockText
    {
        gap:9px;
        align-items:start;
    }    


    .first_setion_block_card_h2
    { 
        text-align: left;
    }  
    .first_setion_block_card_p
    {
        font-size: 14px;
        text-align: left;
        width: 246px;
    }       
        /*DescriptionBlock*/
    .first_section_block_description
    {
        display: flex;
        flex-direction: column;
        gap:60px;
        padding-bottom: 0px;
    }  
    .first_section_block_description_item
    {
        gap:30px;
        flex-direction: column;
        text-align: left;
    }  
    .first_section_block_description_item.special
    {
        flex-direction: column;
    } 
    .first_section_block_description_item_block_text
    {
        padding-top: 0px;
        gap:20px;
    }      
    
    .first_section_block_description_item_h2
    {
        font-size: 30px;
        line-height: 35px;
        width: 335px;
    }  
    .first_section_block_description_item_p
    {
        font-size: 14px;
        line-height: 140%;
        width: 335px;
    }  
    .first_section_block_description_item_img
    {
        width:335px;
        height: 228px;
    }       
        /*Second_Section*/
        .second_section
        {
            height: 100%;
            background-image: url(../img/SecondSectionBg.png); 
            margin-bottom: 34px;
            display: flex;
            justify-content: center;
        }
        .second_section_common_block
        {
            justify-content: start;
            align-items: start;
            text-align: center;
        }
        .second_section_h1
        {
            font-size: 30px;
            line-height: 35px;
            text-align: left;
            padding-top: 215px;
        }
        .second_section_p
        {
            font-size: 14px;
            line-height: 140%;
            width: 335px;
            text-align: left;
            padding-top: 20px;
            padding-bottom: 59px;
        }   
        .second_section_block_cards
        {
            gap:20px;
            width:100%;
            justify-content: left;

        }    
        .second_section_cardItem
        {
            width: 280px;
            height: 358px;    
        }   

        .second_section_cardItem_h3
        {
            font-size: 25px;
            line-height: 29px;
            padding-top: 0px;
            padding-bottom: 7px;
        }  
        .second_section_cardItem_h4
        {
            font-size: 13px;
            line-height: 140%;
            padding-bottom: 30px;
        }  
        .second_section_catdItem_hr
        {
            width: 220px;
            margin-bottom:20px ;
        }    
        .second_section_cardItem_h2
        {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 30px;
            line-height: 35px;
            text-align: center;
            color: #FFFFFF;
        }
        .second_section_cardItemh4
        {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%; 
            text-align: center;
            color: #8794BA;
            padding-bottom: 40px;
        }   

    /*Third_Section*/
    .third_section_left_part
    {
        display: none;
    }
    .companies__column-inner {
        left: 50px;
        top: -60px;
        /*padding: 0px 20.5px;*/
        width: 100%;
      }      
    

      .companies__column {
        width: 375px;
        height: 480px;
        position: relative;
      }
      .form__auth-btn {
        padding-left: 75px;
        padding-right: 92px;
      }
      /*Footer*/             
            
  .footer{
    background: #1F2F5C;
    padding: 36px 0;
    display: flex;
    justify-content: center;
  }  
  .footer_common_block
  {
    display: flex;
    gap:65px;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .footer_nav
  {
    display: none;
  }
  .footer_icons
  {
    display: flex;
    justify-content: space-between;
    gap:40px;

  }
  .footer_icons svg 
  {
    fill:gray;
    transition: transform 0.8s;
  }
  .logogFooter
  {
    width: 124px;
    height: 24px;
  }
  .footer_icons svg:hover 
  {
    fill:white;
    transform: scale(1.2);
  }

  .rating-area
  {width: 225px;}
} 
@media(max-width:370px)
{
    
    .companies__column
    {
        width: 300px;
    }
}